body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
  overflow: hidden;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn.btn-primary {
  background: #ec8f6a;
  border-color: #ec8f6a;
  color: #fff;
}
.btn span {
  margin-left: -20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  bottom: 0;
  background: #fff;
}

.btn.btn-primary .icon i {
  color: #ec8f6a;
}
.btn .icon i {
  font-size: 20px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-secondary {
  color: #fff;
  border-color: #8bbabb;
  background: #8bbabb;
}

.btn.btn-quarternary {
  color: #fff;
  border-color: #b96b9f;
  background: #b96b9f;
}

.btn.btn-secondary .icon i {
  color: #8bbabb;
}

.btn.btn-quarternary .icon i {
  color: #b96b9f;
}
.mb-4, .my-4 {
  margin-bottom: 2rem !important;
}
.mt-4{
  margin-top: 2rem !important;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  border-color: #e66d3d !important;
  background: #e66d3d !important;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  border-color: #6ba7a8 !important;
  background: #6ba7a8 !important;
}

.btn.btn-quarternary:hover, .btn.btn-quarternary:focus {
  border-color: #a44d87 !important;
  background: #a44d87 !important;
}

a:hover {
  text-decoration: auto !important;
}